a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 2px solid #BC1E22;
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  transition: all .7s ease;
  text-decoration: none;
  &:hover{
    background: #BC1E22 !important;
  }
  svg{
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px;
  }
}